[ARTS]
# This is the config File for ARTS Docker Multi-Node Setup
worker_threads=4

# GPU SUPPORT #
# To turn on GPU support set scheduler=3 and gpu=NumGPUs
#scheduler=3
#gpu=8

# Initial GPU Cache Size
#gpu_route_table_size=12

# Values for the garbage collection
#free_db_after_gpu_run=0
#delete_zeros_gpu_gc=1

# When to run the garbage collection
#run_gpu_gc_idle=1
#run_gpu_gc_pre_edt=0

# Locality policies random=0, allOrNothing=1, atLeastOne=2
#gpu_locality=0

# Fit policies firstFit=0, bestFit=1, worstFit=2, roundRobinFit=3
#gpu_fit=0

# Location Consistency Sync functions artsGetLatestGpuDb=0, artsGetRandomGpuDb=1
#gpu_lc_sync=0

# Turn stream buffering on to increase utilization
#gpu_buff_on=1

# Limits the number of memory for GPU cache
#gpu_max_memory=-1

# Limits the number of concurrent EDTs running on a GPU
#gpu_max_edts=-1

# Not used yet
#gpu_p2p=0
# End GPU Support #

#Network threads
sender_threads=1
receiver_threads=1
port_count=1

#Hardware pinning
pin=1

#Deque default start size
worker_init_deque_size=2048

#Routing table default start size
route_table_size=16

#Enable core dumps
core_dump=1

# Launching method: slurm (reads node info from SLURM_* env vars)
launcher=slurm

# Number of nodes
node_count=6

# Protocol (tcp, ib) -> (ib) Native Ib to added in the future
protocol=tcp
default_ports=34739

# Supports ethernet and infiniband (eth0, eth1, ibo, ib1, etc)
#net_interface=eth0
#net_interface=ib0

# Introspection
#introspectiveConf=arts.insp
#introspectiveFolder=./introspective
#introspectiveTraceLevel=0
#introspectiveStartPoint=1

#Counters
counter_folder=./counters
counter_capture_interval=100

kill_mode=0
